<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Admin UI
      <small>Demo Project</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
      <li class="active">Here</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content container-fluid">

    <!--------------------------
      | Your Page Content Here |
      -------------------------->
    <button (click)="getTabs()">Agree</button>
    <p-tabView [activeIndex]="activeTabIndex" (onChange)="onTabChange($event)" (onClose)="handleClose($event)">
      <!-- <p-tabPanel header="Header 1" [closable]="true">
          <router-outlet></router-outlet>
      </p-tabPanel> -->
      <p-tabPanel *ngFor="let tab of tabs;let i=index;" header="{{tab.header}}" [closable]='tab.closable'>
        <!-- <ui-tab-panel [tabItem]="tab"></ui-tab-panel> -->
        <router-outlet></router-outlet>
        {{tab.content}}
      </p-tabPanel>
    </p-tabView>
  </section>
  <!-- /.content -->
</div>
