<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
  <input #gb type="text" pInputText size="50" placeholder="Search">
</div>
<p-dataTable [value]="roles" selectionMode="single" [(selection)]="selectedRole"
(onRowSelect)="onRowSelect($event)" [paginator]="true" rows="10" [responsive]="true" [globalFilter]="gb">
  <p-header>Roles List</p-header>
  <p-column field="name" header="name" [sortable]="true"></p-column>
  <p-column field="id" header="id" [sortable]="true"></p-column>
  <p-column field="codes" header="codes" [sortable]="true"></p-column>
  <p-column field="description" header="description" [sortable]="true"></p-column>
  <p-column field="parentId" header="parentId" [sortable]="true"></p-column>
  <p-footer>
    <div class="ui-helper-clearfix" style="width:100%">
      <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add">Add</button>
    </div>
  </p-footer>
</p-dataTable>
<p-dialog header="Role Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="role">
      <form >
        <!-- role name -->
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="name">Name</label></div>
            <div class="ui-grid-col-8"><input pInputText name="name" id="name" [(ngModel)]="role.name" required /></div>
        </div>
        <!--role id can't be modified-->
        <!-- <div class="ui-grid-row" >
            <div class="ui-grid-col-4"><label for="id">Id</label></div>
            <div class="ui-grid-col-8"><input pInputText name="id" id="id" [(ngModel)]="role.id" /></div>
        </div> -->
        <!-- role codes -->
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="code">Code</label></div>
            <div>
              <p-multiSelect [options]="codes" [panelStyle]="{minWidth:'12em'}"
              [(ngModel)]="role.codes" name="role-code-select" required>
              </p-multiSelect>
            </div>
        </div>
        <!-- role description -->
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="description">Description</label></div>
            <div class="ui-grid-col-8"><input pInputText name="description" id="description" [(ngModel)]="role.description" /></div>
        </div>
        <!-- role parent -->
        <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="parentId">Parent</label></div>
          <div>
            <p-dropdown [options]="roles" [panelStyle]="{minWidth:'5em'}" [(ngModel)]="role.parentId" optionLabel="id" name="roleParent"></p-dropdown>
          </div>
        </div>
    </form>
  </div>
  <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa-close" label="Delete" (click)="delete()">Delete</button>
          <button type="button" pButton icon="fa-check" label="Save" (click)="save()">Save</button>
      </div>
  </p-footer>
</p-dialog>
